@page "/Gallery/File/CreateDetailFile"

@model AdminLTE.Pages.Gallery.File.CreateDetailFileModel
@{
}
<h2>File Details</h2>
<form class="row" asp-page="./CreateDetailsFile" method="post">
    @Html.AntiForgeryToken()
    <!-- Metadata Form (appears after file upload) -->
    <div class="col-md-12 card card-default">
        <div class="card-header">
            <h3 class="card-title">File Metadata</h3>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="@Model.File.Name" />
            <input type="hidden" asp-for="@Model.File.Path" />
            <input type="hidden" asp-for="@Model.File.Size" />
            <input type="hidden" asp-for="@Model.File.FileType" />
            <input type="hidden" asp-for="@Model.File.GalleryId" />
            <input type="hidden" asp-for="@Model.File.MimeType" />
            <input type="hidden" asp-for="@Model.File.ImageWidth" /> 
            <input type="hidden" asp-for="@Model.File.ImageHeight" />
            <input type="hidden" asp-for="@Model.File.Duration" /> 


            <!-- Caption -->
            <div class="form-group">
                <label asp-for="@Model.File.Caption" class="control-label">Caption</label>
                <input asp-for="@Model.File.Caption" class="form-control" placeholder="Caption" />
                <span asp-validation-for="@Model.File.Caption" class="text-danger"></span>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label asp-for="@Model.File.Description" class="control-label">Description</label>
                <textarea asp-for="@Model.File.Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="@Model.File.Description" class="text-danger"></span>
            </div>

            <!-- Alternative Text -->
            <div class="form-group">
                <label asp-for="@Model.File.AlternativeText" class="control-label">Alternative Text</label>
                <input asp-for="@Model.File.AlternativeText" class="form-control" placeholder="Alternative Text" />
                <span asp-validation-for="@Model.File.AlternativeText" class="text-danger"></span>
            </div>

            <!-- Duration -->
            <div class="form-group">
                <label asp-for="@Model.File.Duration" class="control-label">Duration</label>
                <input asp-for="@Model.File.Duration" class="form-control" placeholder="Duration" />
                <span asp-validation-for="@Model.File.Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>

</form>


