@page "/Gallery/File/Index"
@model AdminLTE.Pages.Gallery.File.FileModel
@{
}

<div asp-validation-summary="All"></div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <form class="form-group" method="get" id="userForm">
                    <label>Select User</label>
                    <select class="custom-select" asp-for="SelectedUser" onchange="document.getElementById('userForm').submit()">
                        <option>AllUsers</option>
                        @foreach (var user in Model.Users)
                        {
                            <option>@user.FirstName @user.LastName</option>
                        }
                    </select>
                </form>
            </div><!-- /.col -->
            <div class="col-sm-4">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <input id="searchByUpdatedBy" name="updatedBy" class="form-control form-control-navbar" type="search" placeholder="Updated by a user" aria-label="Search By User Update" data-listener-added_94091133="true">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
            <div class="col-sm-4">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <input id="searchByName" name="id" class="form-control form-control-navbar" type="search" placeholder="Search by Name" aria-label="Search by name" data-listener-added_94091133="true">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row mb-2">
            <div class="col-sm-6">
                <form class="search-file">
                    <div class="input-group input-group-sm">

                        <div class="input-group-prepend" style="margin-left: 5px; margin-top: 3px;">
                            <span>Created At</span>
                        </div>

                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">Start Date</span>
                        </div>
                        <input id="searchByCreatedAtStart" name="createdAtStart" class="form-control form-control-navbar" type="date" aria-label="Created At Start">
                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">End Date</span>
                        </div>
                        <input id="searchByCreatedAtEnd" name="createdAtEnd" class="form-control form-control-navbar" type="date" aria-label="Created At End">
                        <div class="input-group-append" style="margin-left: 5px;">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend" style="margin-left: 5px; margin-top: 3px;">
                            <span>Updated At</span>
                        </div>
                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">Start Date</span>
                        </div>
                        <input id="searchByUpdatedAtStart" name="updatedAtStart" class="form-control form-control-navbar" type="date" aria-label="Updated At Start">
                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">End Date</span>
                        </div>
                        <input id="searchByUpdatedAtEnd" name="updatedAtEnd" class="form-control form-control-navbar" type="date" aria-label="Updated At End">
                        <div class="input-group-append" style="margin-left: 5px;">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div>
                        <div class="btn-group w-100 mb-2">
                            <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> 
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                All Files 
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="1">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Images 
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="2">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Videos
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="3">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Audios 
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="4">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Other Files
                            </a>
                        </div>
                        <div class="mb-2">
                            <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle=""> Shuffle items </a>
                            <div class="float-right">
                                <select class="custom-select" style="width: auto;" data-sortorder="">
                                    <option value="index"> Sort by Position </option>
                                    <option value="sortData"> Sort by Custom Data </option>
                                </select>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="javascript:void(0)" data-sortasc=""> Ascending </a>
                                    <a class="btn btn-default" href="javascript:void(0)" data-sortdesc=""> Descending </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 143px;">

                            @if (Model.Files != null && Model.Files.Any())
                            {
                                @foreach (var file in Model.Files)
                                {
                                    <div class="filtr-item col-sm-2 filteredOut" data-category="@(file.FileType == "image" ? 1 : file.FileType == "video" ? 2 : file.FileType == "audio" ? 3 : 4)" data-sort="@file.FileType" style="text-align: center;height:125px; opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                        <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label"></label>
                                        </div>

                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#fileModal"
                                        data-uploadedon="UploadedOn"
                                        data-uploadedby="UploadedBy"
                                        data-fileId="@file.Id"
                                        data-galleryId="@file.GalleryId"
                                        data-name="@file.FileName"
                                        data-filetype="@file.FileType"
                                        data-size="@file.Size"
                                        data-fileLength="Length"
                                        data-fileImagewidth="@file.ImageWidth"
                                        data-fileImageHeight="@file.ImageHeight"
                                        data-fileImageAlternativeText="@file.AlternativeText"
                                        data-filetitle="@file.Title"
                                        data-caption="@file.Caption"
                                        data-description="@file.Description"
                                        data-path="@file.Path"
                                        data-mimetype="@file.MimeType"
                                        >
                                        @if (file.FileType == "image")
                                        {
                                            <img src="@file.Path" class="img-fluid mb-2" alt="Image File">
                                        }
                                        else if (file.FileType == "video")
                                        {
                                            <video class="img-fluid mb-2" controls>
                                                <source src="@file.Path" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        }
                                        else if (file.FileType == "audio")
                                        {
                                            <img src="/TestFile/audio.jpg" class="img-fluid mb-2" alt="Audio" style="max-width: 35%;">
                                        }
                                        else if (file.FileType == "pdf")
                                        {
                                            <img src="/TestFile/pdf.jpg" class="img-fluid mb-2" alt="Pdf" style="max-width: 35%;">
                                        }
                                        else if (file.FileType == "word")
                                        {
                                            <img src="/TestFile/word.jpg" class="img-fluid mb-2" alt="Word" style="max-width: 35%;">
                                        }
                                        else if (file.FileType == "excel")
                                        {
                                            <img src="/TestFile/excel.jpg" class="img-fluid mb-2" alt="Word" style="max-width: 35%;">
                                        }
                                        else
                                        {
                                            <img src="/TestFile/file.jpg" class="img-fluid mb-2" alt="Word" style="max-width: 35%;">
                                        }
                                        </a>
                                        <p style="text-align: center;margin-top: -10px;">
                                            <strong>@file.FileName</strong>
                                        </p>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No file available.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileModalLabel">File Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="SendFileData" id="updateFileForm">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="margin-bottom: 0rem"><strong>Uploaded On:</strong> <span id="fileUploadedOn"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Uploaded By:</strong> <span id="fileUploadedBy"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Name:</strong> <span id="fileName"></span></p>
                            <p style="margin-bottom: 0rem"><strong>File Type:</strong> <span id="fileFileType"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Size:</strong> <span id="fileSize" ></span></p>

                            <!-- Image-specific fields -->
                            <div id="imageDimensions" style="display: none;" class="form-group">
                                <p style="margin-bottom: 0rem"><strong>Dimensions:</strong> <span id="fileImageWidth" ></span> X <span id="fileImageHeight"></span></p>
                                <input type="hidden" class="form-control" id="fileImageWidthHidden"/>
                                <input type="hidden" class="form-control" id="fileImageHeightHidden" />
                            </div>
                            <!-- Video/Audio-specific fields -->
                            <div id="fileLengthSection" style="display: none;" class="form-group">
                                <p style="margin-bottom: 0rem"><strong>Length:</strong> <span id="fileLength" ></span></p>
                                <input type="hidden" class="form-control" id="fileLengthHidden"/>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="filePreviewContainer">
                                <!-- Dynamic content based on file type -->
                            </div>
                            <!-- Image-specific fields -->
                            <div id="imageFields" style="display: none;">
                                <div class="form-group">
                                    <label for="fileImageAlternativeText">Alternative Text:</label>
                                    <input type="text" class="form-control" id="fileImageAlternativeText">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fileTitle">Title:</label>
                                <input type="text" class="form-control" id="fileTitle">
                            </div>

                            <div class="form-group">
                                <label for="fileCaption">Caption:</label>
                                <input type="text" class="form-control" id="fileCaption" >
                            </div>
                            <div class="form-group">
                                <label for="fileDescription">Description:</label>
                                <textarea class="form-control" id="fileDescription" ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="fileUrl">FileURL:</label>
                                <div class="input-group">
                                    <input class="form-control" id="fileFileUrl" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="fileCopyButton">Copy to Clipboard</button>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="card-footer clearfix">

    <form id="deleteFilesForm" method="post" asp-page="/Gallery/File/DeleteFile">
        <input type="hidden" id="selectedFileIds" name="FileIds" />
        <button id="deleteFilesBtn" type="submit" style="margin: 10px;" class="btn btn-danger float-right">Delete Selected Files</button>
    </form>

    <a href="/Gallery/File/CreateFile?galleryId=@Model.GalleryId" style="margin: 10px;" class="btn btn-success float-right">Create File</a>
    <a asp-page="/Gallery/Index" style="margin: 10px;" class="btn btn-primary float-right"><i class="fas fa-arrow-left"></i> Back to Galleries</a>
</div>

